html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #0AEFFF;
}

header {
    background-color: #147df5;
}

nav ul {
    list-style: none;
}

nav a{
    list-style: none;
    text-decoration: none;
    color:white;
    font-size: 175%;
    font-family: 'koho';
}

nav {
    position: relative;
    top: 80px;
}


#formulario {
    position: relative;
    top: 61.5%;
    left: 20px;
    font-size: 50px;
}

aside {
    background-color: #147df5;
    width: 100%;
}

aside img {
    height: 85%;
    padding:6px;
    position: relative; 
    left: 72%;
}

h1 {
    color: white;
    margin: 0;
    padding: 0;
    float: right;
    position: relative;
    top: 35%;
    right: 30px;
    font-size: 175%;
    font-family: 'koho';
    
}


section {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
    height: 100%;
}

section article {
    height: 100%;
    width: 100%;
}


footer, p {
    background-color: white;
    margin: 0;
    text-align: center;
}

.columna-25 {
    width: 25%;
    height: 100%;
}

.columna-75 {
    width: 75%;
    height: 100%;
}

.fila-10 {
    height: 10%;
}

.fila-85 {
    height: 85%;
}

.fila-5 {
    height: 5%;
}