section {
    flex-wrap: wrap;
    background-color: black;
}

section h4 a {
    text-decoration: none;
    color: #0AEFFF;
    text-transform: uppercase;
}

video {
    height: 72%;
    width: 95%;
    padding-top: 60px ;
}

h2 {
    width: 100%;
    color: white;
    font-family: limelight;
    text-align: center;
    font-size: 250%;
    margin: 0;
    padding-top: 20px;
}

h4 {
    width: 100%;
    color: white;
    font-family: fira sans;
    text-align: center;
    font-size: 120%;
    margin: 0;
    padding: 0;
}

p {
    color: white;
}


.fila-5 {
    background:black;
} 

footer p {
    font-family: 'koho';
}