article img {
    width: 80%;
    height: 40%;
    margin-bottom: 40px;
    
}

main article ul {
    margin: 0;
    padding: 0;
}

section ul li {
    list-style: none;
    margin:0;
    padding: 0;
}

section p {
    font-family: 'fira sans';
    font-size: 120%;
}

h2 {
    font-family: 'fira sans';
    font-size: 140%;
}

#articulo-1 {
    width: 100%;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 20px;
    text-align: center;
}

#articulo-2 {
    width: 100%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 50px;
    text-align: center;
}

#imagen2 {
    margin-top:20px;
    margin-bottom: 20px;
}

section img {
    border: 3px black solid;
}

footer p {
    font-family: 'koho';
}
