article img {
    width: 90%;
    height: 30%;
}

main article ul {
    margin: 0;
    padding: 0;
}

 section article {
     flex-wrap: wrap-reverse;
 }

p {
    font-family: 'fira sans';
    font-size: 100%;
}

.segundo-en-reco {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
}