section {
    flex-wrap: wrap
}

article {
    width: 90%;
}

div p {
    font-family: 'fira sans';
    font-size: 180%;
    margin-top: 8%;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

form div {
    font-size: 25px;
}


section {
    background-color: black;
}

section p {
    color: white;
}

section article ul li a {
    text-decoration: none;
    color:black;
    font-size: 200%;
    font-family: 'koho';
    font-style: revert;
 }

section ul {
    list-style: none;
    padding: 0;
    margin: 100px;
    font-size: 20px;
}


#link-redes {
    display: flex;
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    border: double 3px #147df5;
    margin: 20px;
    background-color: white;
    height: 60%;
}

.mitad {
    display: flex;
    width: 50%;
    color: white;
    height: 350px;
    display: flex;
    justify-content: center;

}

section input {
    font-size: 20px; 
    margin: 20px;
} 

article div form {
    position: relative;
    top: -15%;
}

h2 {
    color: white;
    font-family: 'fira sans';
    font-size: 200%;
    text-align: center;
    padding: 20px;    
}

#comentario {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: black;
}

footer p {
    color: white;
}

#form-nombre {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 0;
    margin-left: 29px;
    width: 300px;
}

#form-correo{
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 29px;
    width: 300px;
}

#form-text {
    height: 150px;
    width: 450px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'koho';
}