section {
    flex-wrap: wrap
}

article {
    width: 100%;
}

div p {
    font-family: 'fira sans';
    font-size: 200%;
    margin-top: 8%;
    margin-bottom: 0;
    text-align: center;
}


section article ul li a {
    text-decoration: none;
    color:black;
    font-size: 200%;
    font-family: 'limelight';
 }

section ul {
    list-style: none;
    padding: 0;
    margin:100px;
    text-align: center;
}


#link-redes {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mitad {
    display: flex;
    width: 50%;
}

#comentario {
    display: flex;
    flex-wrap: wrap;
}