section {
    flex-wrap: wrap
}

article {
    width: 100%;
}

div p {
    font-family: 'fira sans';
    font-size: 200%;
    margin-top: 8%;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

div {
    margin: 0;

}

section {
    background-color: black;
}

section p {
    color: white;
}

section article ul li a {
    text-decoration: none;
    color:black;
    font-size: 200%;
    font-family: 'limelight';
 }

section ul {
    list-style: none;
    padding: 0;
    margin: 100px;
    font-size: 22.5px;
}


#link-redes {
    display: flex;
    width: 100%;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    border: 3px #147df5;
    border-style: double;
    margin: 20px;
}

.mitad {
    display: flex;
    width: 50%;
}

#comentario {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: black;
}

footer p {
    color: white;
}