#imagenuno {
   height: 200px;
   border: 2px solid black;
}

#imagendos {
   height: 200px;
   border: 2px solid black;
}

#imagentres {
   height: 180px;
   border: 2px solid black;
}

#imagencuatro {
   height: 200px;
   border: 2px solid black;
}

#imagencinco {
   height: 200px;
   border: 2px solid black;
}

#parrafo-uno {
   font-family: 'fira sans';
   font-size: 100%;
}

#parrafo-dos {
   font-family: 'fira sans';
   font-size: 100%;
}

#parrafo-tres {
   font-family: 'fira sans';
   font-size: 100%;
}

#parrafo-cuatro {
   font-family: 'fira sans';
   font-size: 100%;
}

article {
   flex-wrap: wrap;
}

section {
   align-content: space-around;
}