#imagenuno {
   height: 200px;
   border: 2px solid black;
   float: left;
   margin: 20px;
}

#imagendos {
   height: 200px;
   border: 2px solid black;
   float: right;
   margin: 20px;
}

#imagencuatro {
   height: 200px;
   border: 2px solid black;
   float: left;
   margin: 20px;
}

#imagencinco {
   height: 200px;
   border: 2px solid black;
   float: right;
   margin: 20px;
   position: relative;
   bottom: 200px;
}

#noresponsivo {
   padding-top: 20px;
}

#parrafo-cuatro {
   margin-right: 380px;
}

section p {
   font-family: 'fira sans';
   font-size: 140%;
   margin: 0;
   text-align: center;
   padding: 20px
}

section {
   width: 100%;
   height: 100%;
   display: revert;
}
