@media screen and (max-width: 1100px) {

    body {
        height: 1650px;
        width: 1000px;
    }
    
    header {
        display: none;
    }

    input {
        display: none;
        }
        

    .imagen-burger {
        position: relative;
        left: 55%;
        top: 15%;
        height: 80px;
        }

        
    aside { 
        position: fixed;
        top: 2.5%;
        width: 75.05%
    }

    aside nav ul { 
        margin: 0;
        background-color: #147df5;
    }

    .imagen-steele {
        display: none;
    }
            
    #menu-responsivo {
        width: 50%;
        position: relative;
        top: 22%;
        left: 50%;
        text-align: center;
    }
    

    aside nav img {
        position: relative;
        left: 35%;
        top: 0;
    }
        
    
    h1 {
        text-align: start;
        position: relative;
        left: 5%;
        top: 28%;
        float: left;
    }
    
    section {
        width: 100%;
        flex-wrap: wrap;
        border-left: 3px solid black;
    }

    article {
        width: 100%;
    }

    .articulo-info {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-left: 50px;
    }

    .imagen-info {
        margin-top: 0;
        margin-bottom: 40px;
        margin-left: 60px;
        height: 500px;
        width: 600px;
    }        


    h2 {
        font-size: 189%;
        padding-top: 20px;
        padding-left: 25px;
        padding-right: 22px;
        margin-left: 58px;
        margin-top: 0;
        margin-bottom: 0;
    }

    h3 {
        font-size: 200%;
        margin: 2.5%;
        margin-right: 42%;
        color: black;
        font-style: italic;
    }

    footer {
        border-left: 3px solid black;
    }


    footer p {
        text-align: end;
        padding-right: 25px;
        margin: 0px;
        font-family: 'koho';
    }

    section article p {
        margin: 0;
        padding-left: 40px;
    }

    .columna-75 {
        width: 75%;
        right: 12.6%;
    }

}

@media screen and (min-width: 1100px) {

    header img {
        display: none;
    }

    section h3 {
        display: none;
    }

    aside nav {
        display: none;
    }

    .imagen-burger {
        display: none;
    }

}